<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>43057968882-g6opk4nt6fko5q1ii2e2udshjn3gqooe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43057968882-g6opk4nt6fko5q1ii2e2udshjn3gqooe</string>
	<key>API_KEY</key>
	<string>AIzaSyBSopVLk3aIRj1Ul6xCOy1_Ojf-V5qCr8c</string>
	<key>GCM_SENDER_ID</key>
	<string>43057968882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jordangeorge.ios-midterm-2</string>
	<key>PROJECT_ID</key>
	<string>upark-592f8</string>
	<key>STORAGE_BUCKET</key>
	<string>upark-592f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43057968882:ios:8058b36e0185d6a5</string>
	<key>DATABASE_URL</key>
	<string>https://upark-592f8.firebaseio.com</string>
</dict>
</plist>